/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*
 * Searchform
 */

.wl-camps-searchform {
    margin: auto;
    padding: 1em;
}

.wl-camps-searchform .inline {
    display: flex;
    flex-direction: row nowrap;
}
.wl-camps-searchform fieldset {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.wl-camps-searchform fieldset legend {
    font-weight: bold;
    margin: 0.5em auto;
    size: 1.2em;
}

.wl-camps-searchform .inline {
    display: flex;
    flex-direction: row nowrap;
    padding-left: 1em;
    padding-right: 1em;
}

.wl-camps-searchform .inline .field {
    flex: 1;
    margin-right: 1em;
}
.wl-camps-searchform .inline .field:last-child {
    margin-right: inherit;
}

.wl-camps-searchform .field {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
}

.wl-camps-searchform .field label {
    flex: 1;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.wl-camps-searchform .field input,
.wl-camps-searchform .field select {
    flex: 2;
}

.wl-camps-searchform .field input[type=checkbox],
.wl-camps-searchform .field input[type=radio] {
    flex: 0 1 auto;
}

.wl-camps-searchform .field select[multiple] {
    height: initial;
}

.wl-camps-searchform .actions {
    text-align: right;
}

/*
 * Search
 */

 .wl-camps-search {
     margin: 1em;
 }

 .wl-camps-search .nav-links {
    margin: 1em auto;
    text-align: right;
}

 .wl-camps-search .nav-links .page-numbers {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    line-height: 1;
    margin: 0 0.1em 0 0;
    padding: 0.25em 0.5em;
    text-decoration: none;
}

.wl-camps-search .wl-camps-search-container {
    align-items: stretch;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.wl-camps-search .query-info {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em auto;
    text-align: center;
}

.wl-camps-search article {
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
}

.wl-camps-search article footer,
.wl-camps-search article header,
.wl-camps-search article section {
    padding: 0.5em;
}

.wl-camps-search article header {
    display: flex;
    justify-content: space-between;
}

.wl-camps-search article header .toolbar {
    margin-right: 1rem;
}

.wl-camps-search article .field,
.wl-camps-search article footer taxonomy {
    display: flex;
}

.wl-camps-search article .field {
    align-items: center;
    justify-content: center;
}

.wl-camps-search article .field .label,
.wl-camps-search article footer .label {
    font-weight: bold;
    flex: 1;
    margin-right: 1em;
}

.wl-camps-search article .field .value,
.wl-camps-search article footer ul {
    flex: 2;
}

.wl-camps-search article .field .value,
.wl-camps-search article footer ul li {
    white-space: nowrap;
}

.wl-camps-search article footer taxonomy {
    align-items: stretch;
    justify-content: space-between;
}

.wl-camps-search article footer ul {
    list-style: none;
    padding-left: 0;
}

.wl-camps-search article footer li {
    border-radius: 0.2em;
    display: inline-block;
    margin: 0.2em;
    padding: 0.1em;
}
